.card-body {
    flex: 1 1 auto;
    justify-content: start;
    padding: 1.25rem;
    background-color: #EFEBCE;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    .card-title {
        font-size: 2em;
    }
    .product-link {
        text-decoration: none;
        color: black;
    }
    .product-link :hover {
        text-decoration: underline;
        color:darkolivegreen;
    }
    .business-link {
        font-size: 1.2em;
        margin-bottom: 7.5em;
    }
    .product-price {
        font-size:1.5em;
    }
}