.jumbotron {
  background-image: url("https://image.shutterstock.com/image-photo/website-banner-happy-irish-setter-260nw-656173309.jpg");
  background-size: cover;
  text-shadow: #FC0 1px 0 5px,
  #FC04 4px 6px;

}