img {
  object-fit:scale-down;
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.quantityOrderedText {
  margin: 5px 0px;
  padding-right: 0px;
}

.quantityOrderedInput {
  height: 25px;
  margin: 5px 30px 5px 0px;
  padding-right: 5px;
}

.removeFromCart {
  margin: 8% 0 8%;
  padding: 0px;
}

.cartProductDescription {
  // padding-left: 10%;
}